



/* header */
.header-title{
/* border: 2px solid black; */

display: flex; width: 100%;
}
.header-title h1{
color: #000;
font-size: 36px;
font-weight: 700;
letter-spacing: -1.62px;
margin: 100px 0px 0px 150px;
padding-top: 40px;
    /* border: 2px solid black; */
}
.head-description{
/* border: 2px solid black; */
width: 50%;
margin: 100px 50px 0px 200px;
}
.head-description h3{
color: #000;
font-family: Poppins;
font-size: 18px;
font-weight: 600;
text-transform: uppercase;
padding-left: 125px;
}

.head-description p{
color: #000;
font-family: Poppins;
font-size: 18px;
font-weight: 400;
padding-right: 125px;
padding-left: 125px;
}

/* main */

.main{
/* border: 2px solid black; */

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin-top:50px;
    padding-left: 60px;

    
}

.main img{
    width: 300px;
    height: 500px;
    flex-shrink: 0;
}
.main article:nth-child(2){
    transform: translateY(20%);

}
.main article:nth-child(5){
  transform: translateY(20%);
}
.main article{
    position: relative;
}

article p{
    color: black;
    font-weight: 800;
    position: absolute;
    transform: rotate(90deg);
    text-transform: uppercase;
    white-space:nowrap;
  }

/*কিভাবে paragraph গুলো একটা class এ কাজ করা যাবে?
বার বার id না দিয়ে কিভাবে করা যায় একটু দেখ।

How can I solve the paragraph problem using only one class 
not by using many id's.
please check.
*/


#para-1{
top: 55px;
right: -15px;
}
#para-2{
 top: 40px;
right: -5px;
}
#para-3{
 top: 30px;
 right: 10px;
}
#para-4{
top: 35px;
 right: 0px;
}

#para-5{
  top: 30px;
  right: 5px;
    }
#para-6{
  top: 30px;
 right: 5px;
}


@media screen and (max-width: 576px) {
  


.header-title{
   /* border: 2px solid black;  */
  display: grid;
  grid-template-columns: repeat(1,1fr);
  width: 100%;
  margin-left: 0;
}
.header{
    /* border: 2px solid black; */
      width: 100%;
}
.header h1{
  margin: 0;
}

.head-description{
  /* border: 2px solid black; */
  padding: 20px 20px 0px 0px;
  margin-left: 0;
  margin-top: 0;
  width: 100%;

}
.head-description h3{
  padding-left: 0px;
  
}
.head-description p{
  margin-bottom: 0;
  padding-left: 0px;
}

.main{
/* border: 2px solid black; */

  display: grid; 
  grid-template-columns: repeat(2,1fr);
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  gap:1rem;
  
}
 .main  img{
  height: 350px;
  width: 90%;
  object-fit: cover;
  flex-shrink: 0;
  
}
.main article{
  position: relative;
}
 .main  article:nth-child(6){
  top:20%;
} 
 .main article:nth-child(5){
 transform: translateY(0%);
} 
 .main article:nth-child(4){
 transform: translateY(20%);
} 
article h3{
  margin-top: 5px;
}
article p{
  color: black;
  font-weight: 800;
  position: absolute;
  transform: rotate(90deg);
  text-transform: uppercase;
}
#para-2{
  right: -45px;
}
#para-3{
  right: -30px;
}
#para-1{
  right: -55px;
}
#para-4{
  right: -40px;
}
#para-5{
right: -35px;
}
#para-6{
  right: -35px;
}

}